In [8]:
##This example explained in the class
class player:
    def __init__(self, name, age):
        self.name=name
        self.age=age
        
class batsman(player):
    def __init__(self,name,age,run,ball,rrbat):
        player.__init__(self,name,age)
        self.run=run
        self.ball=ball
        self.rrbat=rrbat
class bowler(player):
    def __init__(self,name,age,over,wicket,rrball,run):
        player.__init__(self,name,age)
        self.over=over
        self.wicket=wicket
        self.rrball=rrball
        self.run=run
class allrounder(batsman,bowler):
      def __init__(self,name,age,run,ball,rrbat,over,wicket,rrball):
          batsman.__init__(self,name,age,run,ball,rrbat)
          bowler.__init__(self,name,age,over,wicket,rrball,run)

aa=allrounder('ram',26,123,100,123.00,10,3,5.6)
print(aa.name)
print(aa.age)
print(aa.rrball)
print(aa.over)

ram
26
5.6
10

In [3]:
class student:
    count = 0
    def __init__(self,name,add,mob,course):
        self.name=name
        self.add=add
        self.mob=mob
        self.course=course
        student.count +=1
    def updatemob(self,mob):
        self.mob=mob
    def getmob(self):
        return self.mob
    def totalstudent(self):
        return student.count
      
s1=student('vvv','abc','456878979','Btech')
print(s1.totalstudent())
s2=student('aaa','abcd','456878979','Btech')
print(s1.totalstudent())
s3=student('bbb','abcf','456878979','Btech')
print(s1.totalstudent())
print(s2.totalstudent())
print(s3.totalstudent())

1
2
3
3
3