In [11]:
class A():
 
    def __init__(self):
        self.__x = 1
 
    def methodA(self):
        print("m1 from A")
 
 
class B(A):
 
    def __init__(self):
        self.__y = 1
 
    def methodB(self):
        print("m1 from B")
 
c = B()
c.methodA()
c.methodB()

m1 from A
m1 from B

In [12]:
class A():
 
    def __init__(self):
        self.__x = 1
 
    def method(self):
        print("m1 from A")
 
 
class B(A):
 
    def __init__(self):
        self.__y = 1
 
    def method(self):
        print("m1 from B")
 
c = B()
c.method()

m1 from B

In [10]:
class Car:
    def __init__(self, name):    
        self.name = name
 
    def drive(self):             
        raise NotImplementedError("Subclass must implement abstract method")
 
    def stop(self):             
        raise NotImplementedError("Subclass must implement abstract method")
 
class Sportscar(Car):
    def drive(self):
        return 'Sportscar driving!'
 
    def stop(self):
        return 'Sportscar braking!'
 
class Truck(Car):
    def drive(self):
        return 'Truck driving slowly because heavily loaded.'
 
    def stop(self):
        return 'Truck braking!'
 
 
cars = [Truck('Bananatruck'),
        Truck('Orangetruck'),
        Sportscar('Z3')]
 
for car in cars:
    print car.name + ': ' + car.drive()

ram
26
5.6
10
ram    26
123    123.0
3    5.6

In [13]:
class player:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def tostring(self):
        print("Player")
        print(self.name, "  ", self.age)
        
class batsman(player):
    def __init__(self,name,age,run,ball,rrbat):
        player.__init__(self,name,age)
        self.run=run
        self.ball=ball
        self.rrbat=rrbat
    def tostring(self):
        print("Batsman")
        print(self.run, "  ", self.rrbat)
class bowler(player):
    def __init__(self,name,age,over,wicket,rrball,run):
        player.__init__(self,name,age)
        self.over=over
        self.wicket=wicket
        self.rrball=rrball
        self.run=run
    def tostring(self):
        print("bowler")
        print(self.wicket, "  ", self.rrball)
class allrounder(batsman,bowler):
      def __init__(self,name,age,run,ball,rrbat,over,wicket,rrball):
          batsman.__init__(self,name,age,run,ball,rrbat)
          bowler.__init__(self,name,age,over,wicket,rrball,run)
      
aa=allrounder('ram',26,123,100,123.00,10,3,5.6)
print(aa.name)
print(aa.age)
print(aa.rrbat)
print(aa.over)
aa.tostring()

ram
26
5.6
10
Batsman
123    123.0

In [0]:
class player:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def tostring(self):
        print(self.name, "  ", self.age)
        
class batsman(player):
    def __init__(self,name,age,run,ball,rrbat):
        player.__init__(self,name,age)
        self.run=run
        self.ball=ball
        self.rrbat=rrbat
    def tostring(self):
        print(self.run, "  ", self.rrbat)
class bowler(player):
    def __init__(self,name,age,over,wicket,rrball,run):
        player.__init__(self,name,age)
        self.over=over
        self.wicket=wicket
        self.rrball=rrball
        self.run=run
    def tostring(self):
        print(self.wicket, "  ", self.rrball)
class allrounder(batsman,bowler):
      def __init__(self,name,age,run,ball,rrbat,over,wicket,rrball):
          batsman.__init__(self,name,age,run,ball,rrbat)
          bowler.__init__(self,name,age,over,wicket,rrball,run)
      def tostring(self):
          player.tostring(self)
          batsman.tostring(self)
          bowler.tostring(self)

aa=allrounder('ram',26,123,100,123.00,10,3,5.6)
print(aa.name)
print(aa.age)
print(aa.rrball)
print(aa.over)
aa.tostring()

In [14]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
p1=Point(1,2)
p2=Point(1,2)
print(p1+p2)

TypeError: ignored

In [16]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
        
    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        return Point(x,y)

p1=Point(1,2)
p2=Point(1,2)
print(p1 + p2)

<__main__.Point object at 0x7f04fdfcb5f8>

In [17]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
        
    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        return Point(x,y)

p1=Point(1,2)
p2=Point(1,2)
print(p1 + p2)

(2,4)

In [28]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
    
    def __lt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag < other_mag
   
p1=Point(1,2)
p2=Point(1,2)
print(p1)
print(p2)
print(p1 < p2)
print(p1 > p2)
print(p1 == p2)

(1,2)
(1,2)
False
False
True

In [0]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
    
    def __lt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag < other_mag
    def __gt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag > other_mag
    
p1=Point(1,2)
p2=Point(1,2)
print(p1)
print(p2)
print(p1 < p2)
print(p1 > p2)
print(p1 == p2)

In [0]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
    
    def __lt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag < other_mag
    def __gt__(self,other):
        self_mag = (self.x ** 2) + (self.y ** 2)
        other_mag = (other.x ** 2) + (other.y ** 2)
        return self_mag > other_mag
    def __eq__(self,other):
        return self.x == other.x and self.y == other.y 
      
p1=Point(1,2)
p2=Point(1,2)
print(p1)
print(p2)
print(p1 < p2)
print(p1 > p2)
print(p1 == p2)

In [0]:
class student:
    count = 0
    def __init__(self,name,add,mob,course):
        self.name=name
        self.add=add
        self.mob=mob
        self.course=course
        student.count +=1
    def updatemob(self,mob):
        self.mob=mob
    def getmob(self):
        return self.mob
    def totalstudent(self):
        return student.count
      
s1=student('vvv','abc','456878979','Btech')
print(s1.totalstudent())
s2=student('aaa','abcd','456878979','Btech')
print(s1.totalstudent())
s3=student('bbb','abcf','456878979','Btech')
print(s1.totalstudent())
print(s2.totalstudent())
print(s3.totalstudent())

1
2
3
3
3