In [1]:
for x in (340,’abc’,340.67,True):
                      Print(type(x))

SyntaxError: invalid character in identifier (<ipython-input-1-5fb1422359a0>, line 1)

In [2]:
for x in range(2,10,2):
                       print(x+2)

4
6
8
10

In [3]:
for x in range(0,10):
            x=x+3
            print(x)

3
4
5
6
7
8
9
10
11
12

In [4]:
for y in range(5):
                   for x in range(y):
                         print(x)

0
0
1
0
1
2
0
1
2
3

In [5]:
for y in range(5):
                   for x in range(y):
                         print(y)

1
2
2
3
3
3
4
4
4
4

In [6]:
for x in (10,20,50,74,84,66,12,25):
                        print(x)
                        if(x>50):
                                continue
                        print(x+5)

10
15
20
25
50
55
74
84
66
12
17
25
30

In [7]:
for x in (10,20,50,74,84,66,12,25):
                 print(x)
                 if(x>50):
                       break
                 print(x+5)

10
15
20
25
50
55
74

In [8]:
for x in (10,20,50,74,84,66,12,25):
    print(x)
    if(x>50):
        break
        print(x+5)

10
20
50
74

In [9]:
for x in (10,20,50,74,84,66,12,25):
                        print(x)
                        if(x>50):
                                continue
                                print(x+5)

10
20
50
74
84
66
12
25

In [10]:
nw = ’’
for x in ‘hello students’:
    nw=x+nw
print(nw)

SyntaxError: invalid character in identifier (<ipython-input-10-758b94643ac8>, line 1)

In [ ]:
2.	Make a flow diagram to check whether a number entered by the users is an Armstrong 
number or not. 153 is an Armstrong number as 153 = 13+53+33 while 125 is not an Armstrong number because 125≠13+23+53.

In [ ]:
Flow chart is attachement in the mail

In [ ]:
4.	2520 is the smallest number that can be divided by each of the numbers from 
1 to 10 without any remainder. What is the smallest positive number that is divisible by all the numbers from 1 to 20?

In [11]:
num = 2*3*5*7*11*13*17*19
div = 0
mult = 2
while div == 0:
    div = 1
    for i in range (1,20):
        if(num % i != 0):
            div =0
            break
    if(div == 1):
        break
    num *= mult
    mult += 1
    
print(num)

232792560

In [ ]:
3.	Write python program to find all Armstrong number between 1 to 1000.

In [12]:
num = 1

while(num <= 1000):
    sum1 = 0
    num1 = num
    while(num1 != 0):
        digit = num1 % 10
        num1 = num1 //10
        sum1 += pow(digit,3)
    if(sum1 == num):
        print("Armstrong number found: ", num)
    num += 1

Armstrong number found:  1
Armstrong number found:  153
Armstrong number found:  370
Armstrong number found:  371
Armstrong number found:  407